__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
.env


*.txt
!requirements.txt
!README.md

*.log


*.vdi
*.vbox
*.vbox-prev
*.vmdk
*.iso
*.vhdx


.vscode/
.idea/

Thumbs.db
Desktop.ini
.DS_Store


secrets.json
passwords.txt
*.pfx
*.key